.DS_Store
*.pyc
*.swp
*.egg-info
.#*
build
*~
.buildout
*.elc
.emacs.d/history
.emacs.d/site/nxhtml
.virtualenvs
.ipython
*.stackdump
npm-debug.log
node_modules/
Thumbs.db
desktop.ini
*.sublime-project
*-debug.log
